---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Patrick Corbett" description="About Patrick Corbett">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          height="873"
          src="/assets/sunlounger.jpeg"
          alt="Patrick Corbett reading a book on a sunlounger"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            I grew up in the Midlands, and still live there, somewhere in the
            vicinity of Leicester. I've been working in software for my whole
            career. I started out as an apprentice web developer for an estate
            agency services firm. I've tried my hand as a freelance web
            developer, and have now found my way to leading front end teams.
          </p>
          <p>&nbsp;</p>
          <p>
            I enjoy teaching less experienced team members software patterns and
            ideas on how to solve problems. My style for instruction is to try
            not to just tell my colleague how to do something, but instead
            introduce them to a concept that will help them think about a
            problem in a different way and allow them to come to a solution.
          </p>
          <p>&nbsp;</p>
          <p>
            I have been fortunate to work with some very talented and passionate
            people that have taught me a great deal. From the scout leader / api
            engineer that taught me to always leave code better than you found
            it. To TDD pureists that were zealous in the pursuit of coverage and
            quality. To polymaths who would always know 10 different ways to
            solve any problem and the pitfalls and benefits of each.
          </p>
          <p>&nbsp;</p>
          <p>
            I believe in a great team everyone must be a teacher and everyone
            must be a student. Only by listening to other ideas can we write
            great software.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>
            I've been a JavaScript developer for the past 10 years. I've mostly
            been working in an AWS world and have extensive experience of
            delivering Cloud solutions from a CI/CD pipeline.
          </p>
          <p>&nbsp;</p>
          <p>
            For 7 years I've been predominantly using the React framework for
            client code. Although I have some experience in Angular and other
            legacy frameworks.
          </p>
          <p>&nbsp;</p>
          <p>
            I've tried to lean heavily into using GraphQL, and have written
            Graph servers as middleware between a client and a Rest API, as well
            as extensively using GraphQL in the browser (mostly with the amazing
            Apollo library).
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
