---
import Icon from "./Icon.astro";
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="react" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>React</h2>
    <p>
      I've been working with React for about 7 years now. Its a framework I've
      become extremely comfortable with.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="aws" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>AWS</h2>
    <p>
      Most of the projects I've worked on in the last decade have been in the
      Cloud, I've worked predominantly with AWS.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="js" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Stability</h2>
    <p>
      I'm very keen on writing reliable and predictable software. I like to lean
      on functional programming, test driven development and type systems (most
      recently TypeScript).
    </p>
  </div>

  <style>
    .box {
      border: 1px solid var(--gray-800);
      border-radius: 0.75rem;
      padding: 1.5rem;
      background-color: var(--gray-999_40);
      box-shadow: var(--shadow-sm);
    }

    .skills {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }

    .skills h2 {
      font-size: var(--text-lg);
    }

    .skills p {
      color: var(--gray-400);
    }

    @media (min-width: 50em) {
      .box {
        border-radius: 1.5rem;
        padding: 2.5rem;
      }

      .skills {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;
      }

      .skills h2 {
        font-size: var(--text-2xl);
      }
    }
  </style>
</section>
